/* Variables */
:root {
	--te-body-font: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
	--te-header-font: var(--te-body-font);
	--te-text-color: #000001;
	--te-header-color: var(--te-text-color);
	--te-link-color: #1779ba;
	--te-button-color: var(--te-link-color);
}

/* Body */
body {
	font-family: var(--te-body-font);
	color: var(--te-text-color);
	line-height: 1.6;
}

p {
	margin-top: 0;
	margin-bottom: 25px;
	font-size: 16px;
}

p.large {
	font-size: 20px;
}

a,
a:visited {
	color: var(--te-link-color);
}

/* Headers */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 0;
	font-family: var(--te-header-font);
	color: var(--te-header-color);
	line-height:  1.4;
	margin-bottom: 20px;
}

h1, .h1 {
	font-size: 48px;
}
h2, .h2 { 
	font-size: 40px;
}
h3, .h3 { 
	font-size: 32px;
}
h4, .h4 { 
	font-size: 24px;
}
h5, .h5 { 
	font-size: 20px;
}
h6, .h6 { 
	font-size: 18px;
}

/* Buttons */
a.button {
	box-sizing: border-box;
	display: inline-block;
	border: none;
	text-align: center;
	text-decoration: none;
	line-height: 1;
	padding: 12px 25px;
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	background-color: var(--te-button-color);
	text-transform: uppercase;
	margin-bottom: 5px;
	border: 2px solid transparent;
}

a.button.hollow {
	background:  inherit;
	border-color: var(--te-button-color);
	color: var(--te-button-color);
}

.button[data-mce-selected]{
	padding: 12px 25px !important;
	margin: 0 !important;
	margin-bottom: 5px !important;
	border-radius: 0 !important;
}