// Body font sizes
body {
	@include breakpoint(medium) {
		font-size: $medium-font-size;
	}
	@include breakpoint(large) {
		font-size: $large-font-size;
	}
}

p.large {
	font-size: rem-calc(18);
	@include breakpoint(medium) {
		font-size: rem-calc(19);
	}
	@include breakpoint(large) {
		font-size: rem-calc(20);
	}
}

// Vertical center class
.vertical-center {
	align-items: center;
}

// Accessible but visually hidden
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

// Reverse columns for mobile
.reverse-mobile {
	@include breakpoint(small) {
		&>.cell:first-child {
			order: 2;
		}
		&>.cell:last-child {
			order: 1;
		}
	}
	@include breakpoint(medium) {
		&>.cell:first-child {
			order: 1;
		}
		&>.cell:last-child {
			order: 2;
		}
	}
}

// Text button
.text-button {
	text-transform: uppercase;
	color: $primary-color;
	font-weight: bold;
	text-decoration: underline;
}

// Additional button styles
.button {
	text-decoration: none;
}