// Events

.tribe-common .tribe-events-l-container {
	min-height: 0 !important;
	padding: 0 !important;
	max-width: 100%;
}

#tribe-events-pg-template {
	margin: 0;
	max-width: none;
	padding: 0;
}

.event-filter-label {
	font-weight: bold;
	margin-bottom: 5px;
}

form#event-filter {
	display: flex;
	.select-container{
		margin-right: 5px;
		select {
			min-width: 200px;
			margin-bottom: 0;
		}
	}
	.button {
		margin-bottom: 0;
	}
}

.event-list {
	.event-list-item {
		@include vertical-margin(.5, false, true);
		display: block;
		color: $body-font-color;
		text-decoration: none;
	}
}

.event-list-pb {
	@include deduct-padding(.5);
}

.tribe-events-calendar-list-nav {
	padding-top: 0;
	.tribe-events-c-nav__list {
		@include clean-list;
		@include clearfix;
		.tribe-events-c-nav__list-item--prev {
			float: left;
		}
		.tribe-events-c-nav__list-item--next {
			float: right;
		}
		.button {
			@include vertical-margin(.5, true, false);
			margin-bottom: 0;
		}
		button[disabled] {
			display: none;
		}
	}
}