footer.footer {
	background-color: $light-gray;
	.footer-content {
		@include vertical-padding(.75);
		.cell {
			@include clean-last-child;
			@include vertical-margin(.5, false, true);
			@include breakpoint(medium) {
				margin-bottom: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
			&.footer-navigation {
				.footer-nav {
					ul {
						@include clean-list;
					}
				}
			}
			&.footer-social {
				ul.social {
					@include clean-list;
					display: flex;
					justify-content: center;
					@include breakpoint(medium) {
						justify-content: flex-end;
					}
					li {
						margin-right: 6px;
						a {
							display: flex;
							align-items: center;
							justify-content: center;
							width: 44px;
							height: 44px;
							background-color: $primary-color;
							transition: background-color 200ms;
							border-radius: 100%;
							text-decoration: none;
							svg {
								path {
									fill: $light-gray;
								}
							}
							&:hover {
								background-color: $black;
							}
						}
						&:last-child {
							margin-right: 0;
						}
					}
				}
			}
		}
	}
	.copyright {
		background-color: $white;
		font-size: rem-calc(14);
		text-align: center;
		padding: 10px 0;
		@include breakpoint(medium) {
			text-align: left;
		}
		p {
			margin-bottom: 0;
			@include breakpoint(medium) {
				display: inline-block;
			}
		}
		ul {
			@include clean-list;
			@include breakpoint(medium) {
				display: inline-block;
			}
			li {
				display: inline-block;
				a {
					display: block;
					padding-right: 6px;
					padding-left: 2px;
					border-right: 1px solid $black;
					line-height: 1;
				}
				&:first-child a {
					padding-left: 0;
					@include breakpoint(medium) {
						padding-left: 6px;
						border-left: 1px solid $black;
					}
				}
				&:last-child a {
					padding-right: 0;
					border-right: none;
				}
			}
		}
	}
}